{% extends "layout.html" %}
{% block body %}
<h2>Selecione uma cidade:</h2>
<form action="{{ url_for('navg_redir') }}" method=post>
    <dl>
        <dd><select type=text name=city_id id="city_id">
            {% for city in cities %}
            <option value="{{ city.code }}" {% if city.code == '3550308' %} selected {% endif %}>
            {{ city.name.decode('utf-8') }}
            </option>
            {% else %}
            <option value="">Nenhuma cidade disponivel</option>
            {% endfor %}
        </select>
        <dd><input type=submit value=Enviar>
    </dl>
</form>
{% endblock %}