{% extends "layout.html" %}
{% block body %}
<h2>
    Plotting City {{ city_id }}

    <div id="divLabel" style="float: right; clear: none; text-align: right; font-weight: bold; font-size: 18px; color:#000;">
        &nbsp;
    </div>

</h2>

<div id="map" style="height: 800px; width: 100%;"></div>
<script>

    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: -23.70, lng: -46.55}
        });

        // Load GeoJSON.
        map.data.loadGeoJson("{{ json_url }}");

        // [START snippet]
        // Color each letter gray. Change the color when has color property
        map.data.setStyle(function (feature) {
            color = feature.getProperty('color');
            return /** @type {google.maps.Data.StyleOptions} */({
                fillColor: color,
                strokeColor: color,
                fillOpacity: 0.5,
                strokeWeight: 2
            });
        });

        map.data.addListener('mouseover', function (event) {
            document.getElementById("divLabel").innerHTML = "Media Rendimento Nominal: " +
                    event.feature.getProperty('nominal_avg');
        });

        map.data.addListener('mouseout', function (event) {
            document.getElementById("divLabel").innerHTML = "&nbsp;";
        });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUuiqKxYF6OPRAWf0hwt52GYX3SpBWlO4&signed_in=false&callback=initMap"></script>
{% endblock %}